body {
  font-family: 'Fira Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}



#textResult {
  background-color: white;
}

p {
  min-height: 25px;
  color: black;
}

div {
  color: black;
}

.ui-menu-item {
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 15px;
}

.ticker {
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: large;

  
}

.text-4xl {
  font-family: 'Cinzel', serif;
  
  }
